@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
 body{
    font-family: "Roboto", sans-serif;
}
.parent{
    position: relative;
    border: 1px black solid;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.solid-circle
{
    height: 750px;
    width: 750px;
    background: #370587;
    border-radius: 50%;
    position: absolute;
    right: -375px;
    top: -23px;
    z-index: 1;

}
.header-home{
    display: flex;
    justify-content: space-between;
    position: absolute;
    z-index: 2;
    width: 100%;
    top: 10px;
    padding: 0px 25px;
}
#click-here-button
{
    background-color: white;
    color: #370587;
    font-size: large;
    font-weight: 600;
    box-shadow: 0px 4px 2px rgb(0,0,0,0.50);
}
#Name{
    color: #370587;
    font-size: 100px;
}
.form-floating{
    box-shadow: 4px 4px 4px rgba(0,0,0,0.25);
    border-radius: 8px;
}
#login-button{
    background: #370587;
    color: white;
    padding: 5px 25px;
}
.main-content{
    margin-left: 25px;
}