@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
 body{
    font-family: "Roboto", sans-serif;
}
.header{
  background: #370587;
  color: white;
  padding-left: 25px;
  font-size: large;

}
.input-form{
    display:flex;
    border: 1px black solid;
    justify-content: space-around;
    width: 95%;
    margin: auto;
    border-radius: 8px;
    box-shadow: 0px 0px 10px #370587;
    margin-top: 15px;
    padding: 25px 0px;
}
#add-btn{
     background: #370587;
     width: 60px;
     height: 60px;
     border-radius: 50px;
     font-size: x-large;
     font-weight: 600;
     color: white;

}
.inputs{
    width:30%;
}
h1,h2{
    text-align: center;
}
.input-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.input-section label{
    font-weight: bold;
    margin-right: 10px;
}
.input-section input[type="number"], .input-section input[type="date"]{
    padding: 5px;
    margin-right: 10px;
}
.input-section button{
    padding: 5px 10px;
    background-color: rgb(238, 9, 9);
    color:white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.expenses-list{
    margin: 20px;
}

table{
    width: 100%;
    border-collapse: collapse;
}
th,td{
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;

}
th{
    background-color:#370587;
    color: white
}
tfoot td{
    font-weight: bold;
}
.delete-btn{
    padding: 5px 10px;
    background-color: rgb(238, 9, 9);
    color:white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}